PORT=4000
MONGODB_URI=mongodb+srv://abu2:abu2@abu2.nncoxe5.mongodb.net/fast-food?retryWrites=true&w=majority&appName=abu2
JWT_SECRET=your_very_strong_secret_here

BRAND_NAME=Kardeshler Doner
SUPPORT_PHONE=+998907775544
SUPPORT_TELEGRAM=@kardeshler_support

ADMIN_PHONE=+998900000000
ADMIN_PASSWORD=admin12345
ADMIN_NAME=Kardeshler Super Admin
ADMIN_EMAIL=admin@kardeshler.uz

ADMIN_CARD_NUMBER=8600 1234 5678 9012
ADMIN_CARD_HOLDER=KARDESHLER DONER MCHJ
ADMIN_BANK_NAME=Agrobank
ADMIN_CARD_NOTE=To'lovdan keyin screenshotni yuklang va admin tasdiqlashini kuting.

CLOUDINARY_CLOUD_NAME=dpdldyjpq
CLOUDINARY_API_KEY=475948499473811
CLOUDINARY_API_SECRET=1ER3q8u1UP5jOIDIYrUUXj_f7Yw